# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Hardware / Verilog / Verilator / FPGA
obj_dir/
build/
sim_build/
output/
*.vcd
*.bit
*.config
*.log
*.jou
*.str
*.sv.d
*.v.d

# FPGA Tooling (General)
# Ignoring all JSON except package/tsconfig if they exist
*.json
!package.json
!tsconfig.json

# Mac
.DS_Store

# IDE
.vscode/
.idea/

# Custom
report.json
results.xml
