LOCATE COMP "clk_250" SITE "P3";
IOBUF PORT "clk_250" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_250" 250.0 MHz;

LOCATE COMP "led" SITE "A13";
IOBUF PORT "led" IO_TYPE=LVCMOS33;

LOCATE COMP "btn" SITE "P4";
IOBUF PORT "btn" IO_TYPE=LVCMOS33;
